$color1: rgb(0, 115, 168);
$color2: rgb(16, 181, 203);
$color_white: rgb(255, 255, 255);
$color_black: rgb(27, 45, 54);
$color_text: rgb(88, 88, 95);
$color_white_deam: rgb(237, 237, 237);
$color_grey_text: rgb(190, 190, 190);
$color_input: rgb(239, 239, 239);
$color_body: rgb(240, 240, 246);
$color_cardBG: rgb(166, 166, 174);
